!!!
html
    head
        title Map - BigBrother
        link(href="/css/style.css", rel="stylesheet")
        link(href="/css/bootstrap.min.css", rel="stylesheet")        
    body
        .container-fluid
            header
                h1 BigBrother
                #right
                    ul#main-menu.nav.nav-pills
                        li.active
                            a(href="/") Map
                        li
                            a(href="/trackers") Trackers
                .clear
            
            #map
        
        script(src="http://code.jquery.com/jquery-1.8.2.min.js")
        script(src="/js/socket.io.min.js")
        script(src="http://www.openlayers.org/api/OpenLayers.js")
        script(src="/js/map.js")
