
h1
{
    float: left;
}

header #right
{
    float: right;
}

#main-menu
{
    margin: 12px 0;
}

.clear
{
    clear: both;
}

#map
{
    height: 600px;
}
#map img
{
    max-width:none;
}

form table tr td, form table tr th
{
    width: 33.33%;
}
